<nav class="header navbar navbar-expand-lg bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home" aria-label="Go to home">
      <img ngSrc="/images/logo-header.png" width="252" height="42" alt="logo header" priority>
    </a>
    @if(menu) {

      <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <fa-icon [icon]="['fas', 'bars']" class="text-warning fa-2xl"></fa-icon>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
      </div>
    }
    <button class="button-yellow">Get ticket</button>
  </div>
</nav>
