<h2 class="head-1">Location</h2>
<div class="row">
  <div class="col-lg-6 col 12">
    <p class="head-2 mb-2">Toolbox coworking</p>
    <p class="head-3">Via Agostino da Montefeltro 2, 10134 Torino TO</p>
    <div class="row mt-lg-5">
      <div class="col-lg-6 col-12">
        <p class="fw-bold">Come raggiungere la location</p>
        <section class="d-flex" aria-label="how to arrive by bus">
          <fa-icon [icon]="'bus-simple'" class="fa-lg"></fa-icon>
          <p class="ms-2">Linea 4 o 42 oppure con la metro (direzione bengasi) scendendo a stazione Dante</p>
        </section>
        <section class="d-flex" aria-label="how to arrive by train">
          <fa-icon [icon]="'train-subway'" class="fa-lg"></fa-icon>
          <p class="ms-2">Stazione Porta Nuova + metro(direzione bengasi) scendendo a stazione Dante
            o tram linea 4 (direzione strada del drosso) fermata Ospedale Mauriziano</p>
        </section>
      </div>
      <div class="col-lg-6 col-12 d-none d-lg-block">
        <div class="img-location-container ratio-1x1 position-relative rounded-3">
          <img [ngSrc]="img" class="object-fit-cover rounded-3" fill alt="image location" priority/>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-12 rounded-3">

  </div>
</div>
