@media (min-width: 576px) {
  // Small devices (landscape phones, 576px and up)
}

@media (min-width: 768px) {
  // Medium devices (tablets, 768px and up)
}

@media (max-width: 768px) {
  #footer {
    padding: 2em 1em;
    .organizers {
        width: 250px;
    }
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #footer .gap-md-footer-section {
    gap: 10rem;
  }
}

@media (min-width: 1200px) {
  // Extra large devices (large desktops, 1200px and up)
}

@media (min-width: 1400px) {
  // Extra extra large devices (larger desktops, 1400px and up)
}
