/* You can add global styles to this file, and also import other style files */
@use "./vars" as variable;
@use "./mixin.scss" as mixin;
@import "./responsive.scss";

body {
  font-family: variable.$font-family-df;
  color: variable.$dark;
}

.head-1 {
  font-size: 2rem;
  font-weight: 800;
}

.head-2 {
  font-size: 1.25rem;
  font-weight: 600;
}

.head-3 {
  font-family: variable.$font-family-secondary;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
}

.hyperlink-text {
  font-family: variable.$font-family-secondary;
  font-size: 1rem;
}

.button-yellow {
  @include mixin.button(variable.$yellow, variable.$dark);
}
.button-red {
  @include mixin.button(variable.$red, variable.$light-gray);
}

.text-primary {
  color: variable.$primary;
}
.text-df-grey {
  color: variable.$dark-gray;
}

.cf-card {
  border: 1px solid variable.$red;
  background-color: variable.$light-gray;
  padding: 1.25rem 1rem;
}

.font-header-1 {
  font-family: variable.$font-family-df;
  font-weight: 700;
  font-size: 32px;
}

.font-header-2 {
  font-family: variable.$font-family-df;
  font-weight: 600; 
  font-size: 18px;
}

.font-header-3 {
  font-family: variable.$font-family-secondary;
  font-weight: 400;
  font-size: 18px;
}

.font-body-normal {
  font-family: variable.$font-family-df;
  font-weight: 400;
  font-size: 16px;
}

.font-body-bold {
  font-family: variable.$font-family-df;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
}

.font-body-int {
  font-family: variable.$font-family-df;
  font-weight: bold;
  font-size: 48px;
}

