/* You can add global styles to this file, and also import other style files */
@use "./vars" as variable;
@use "./mixin.scss" as mixin;

body {
  font-family: variable.$font-family-df;
  color: variable.$dark;
}

.head-1 {
  font-size: 2rem;
  font-weight: 800;
}

.head-2 {
  font-size: 1.25rem;
  font-weight: 600;
}

.head-3 {
  font-family: variable.$font-family-secondary;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
}

.button-yellow {
  @include mixin.button(variable.$yellow, variable.$dark);
}

.text-primary {
  color: variable.$primary;
}
.text-df-grey {
  color: variable.$dark-gray;
}
