<div class="my-3 text-start">
  <p class="head-3 border-bottom text-uppercase">Main</p>
  <div class="row justify-content-center">
    <div class="col-lg-3 col-md-4 col-12 my-2">
      <div class="img-container position-relative">
        <img [ngSrc]="img" class="object-fit-contain rounded-4" fill alt="main sponsor 1" priority/>
      </div>
    </div>
  </div>
</div>
<div class="my-3 text-start">
  <p class="head-3 border-bottom text-uppercase">Gold</p>
  <div class="row justify-content-center">
    <div class="col-lg-3 col-md-4 col-12 my-2">
      <div class="img-container position-relative">
        <img [ngSrc]="img" class="object-fit-contain rounded-4" fill alt="gold sponsor 1" priority/>
      </div>
    </div>
  </div>
</div>

@if (1){
  <div class="row g-0 mt-4">
    <div class="col-lg-8 col-12 mx-auto cf-card rounded-3">
      <div class="row justify-content-between align-items-end">
        <div class="col-lg-8 col-12">
          <h3 class="head-1">Call for sponsor is open</h3>
          <p class="my-2">Se vuoi supportarci nella realizzazione di questo fantastico evento che raduna una grande community tecnologica, scarica la nostra proposal e fissiamo una call per parlarne!</p>
          <p class="head-3 mb-0">become sponsor of conference by 30-08-2024</p>
        </div>
        <div class="col-lg-4 col-12">
          <button class="button-red w-100" type="button" aria-label="cfp button">Go to cfs</button>
        </div>

      </div>
    </div>
  </div>
}
