<div class="w-100 position-relative">
  <div class="headline-container position-relative">
    <img [ngSrc]="img" class="object-fit-cover rounded-4" fill alt="image home" priority/>
  </div>
  <div class="card-cover bottom-0 start-0 end-0 z-3">
    <div class="row g-0 justify-content-center my-4">
      <div class="card-headline col-md-6 text-center text-md-start">
        <h4 class="head-1 mb-0">Torino</h4>
        <div class="d-md-flex justify-content-between align-items-baseline text-center text-md-start">
          <div class="text-uppercase">
            <p class="mb-1 head-3">21-22 Novembre 2025</p>
            <p class="mb-0 head-3">Toolbox Coworking</p>
          </div>
          <button class="btn button-yellow mt-3 mt-md-0" type="button">
            Get ticket
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

