@use "../../../styles/vars" as variable;

.card-container {
  padding: 0 1.25rem 1rem;
  &:before {
    position: absolute;
    top: 20%;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    background-color: variable.$light-gray;
    z-index: -1;
    border-radius: 0.5rem;
  }
}
.img-container {
  width: 60%;
  aspect-ratio: 1;
}
